---
layout: default
---

<!-- Reading Progress Bar -->
<div id="reading-progress"></div>

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Verfasst von
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              am {% include german_date.html date=page.date %} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <article class="post-content">
          {{ content }}
        </article>

        <!-- Social Share Bar -->
        <div class="post-share-box text-center my-4 py-3 bg-light rounded shadow-sm">
          <span class="font-weight-bold mr-2 text-secondary">Diesen Beitrag teilen:</span>
          <button class="btn btn-sm btn-primary rounded-pill px-3 shadow-sm" id="webShareBtn" data-title="{{ page.title | escape }}" data-url="{{ page.url | absolute_url }}">
            <i class="fa fa-share-alt mr-1"></i> Teilen
          </button>
        </div>

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left rounded-pill shadow-sm" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Vorheriger<span class="d-none d-md-inline">
              Beitrag</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right rounded-pill shadow-sm" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Nächster<span class="d-none d-md-inline">
              Beitrag</span> &rarr;</a>
          {% endif %}

        </div>

      </div>
    </div>
  </div>

  <!-- Image Lightbox Modal -->
  <div class="modal fade" id="imageLightboxModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content bg-transparent border-0">
        <div class="modal-body text-center p-0">
          <img src="" id="lightboxImg" class="img-fluid rounded shadow-lg" alt="Grossansicht">
          <p id="lightboxCaption" class="text-white mt-2 small"></p>
        </div>
      </div>
    </div>
  </div>

